#################################
# Packer.io files               #
#################################
packer_cache

#################################
# Logs and temp files           #
#################################
*.log
*.tmp
*~
